---
  import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout>
  <div>
  <!-- 	<img width="60" height="80" src="/assets/logo.svg" alt="Astro logo"> -->
    <h1 class="text-xl text-cyan-600">Welcome to my site</h1>
    
    
    <a href="/movies" class="underline text-red-600">Movies</a>
  </div>
</BaseLayout>