---
import BaseLayout from '@/layouts/BaseLayout.astro'
import sanity from '@/lib/sanity.js'
import MovieCard from '@/components/MovieCard.astro'

const movies = await sanity.fetch('*[_type == "movie"]')
---
<BaseLayout>
  <section>
    <h1 class=" text-xl text-blue-600 uppercase">List of Sci-Fi Movies</h1>

    <div class="c-grid">
        { movies.map(movie => (<MovieCard movie={movie}/>)) }
    </div>



  </section>
</BaseLayout>


<style>
.c-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
  justify-items: center;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
}
</style>