<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Sci-Fi Movies</title>

	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>🎦</text></svg>" />


  <link rel="stylesheet" href="/src/styles/global.css">
<!-- <style global>
   @import "../styles/global.css";
</style> -->
 
</head>
<body class="bg-gray-900">
	<main class="p-8">
    <slot />
	</main>
</body>
</html>
